/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-main), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: 18px;
  font-variation-settings: 'wght' var(--wght-body);
}

.header {
  display: flex;
  inline-size: var(--content-width);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-start: 102px;
  border: var(--border-style);
  font-family: var(--font-accent);
  min-block-size: 364px; /* меняется от размера экрана */
}

.header__title {
  font-size: 65px;
}

.header__subtext {
  font-size: 23px;
}

.content {
  inline-size: var(--content-width);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-start: 105px;
}

.card {
  border: var(--border-style);
  display: flex;
  flex-direction: column;
}

.card__title {
  font-variation-settings: 'wght' var(--wght-heading);
  border-block-end: var(--border-style);
  padding-inline-start: 10px;
  padding-block: 3px;
  font-size: inherit;
}

.card__image_wrapper {
  position: relative;
  border-block-end: var(--border-style);
  block-size: var(--content-width);
}

.card__image_wrapper span {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  opacity: 50%;
  font-size: 14px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--color-background), 0 1px var(--color-background), 1px 0 var(--color-background), 0 -1px var(--color-background);
}

@supports(-webkit-text-stroke: 1px var(--color-background)) {
  .card__image_wrapper span {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-background);
  }
}

@supports(text-stroke: 1px var(--color-background)) {
  .card__image_wrapper span {
    text-shadow: none;
    text-stroke: 1px var(--color-background);
  }
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__body_wrapper {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
}

.card__body_description {
  font-variation-settings: 'wght' var(--wght-body);
  line-height: 21px;
}

.card__body_wrapper > *:not(:last-of-type) {
  padding-block-end: 27px;
}

.card__like-button {
  margin-block-start: 25px;
  align-self: end;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card__like-button .button__text {
  display: inline-block;
  border: var(--border-style);
  inline-size: 130px;
  block-size: 38px;
  padding-block: 12.5px;
  font-family: var(--font-accent);
  line-height: 90%;
  font-size: 14px;
}

.footer {
  padding-block-start: 52px;
  padding-block-end: 105px;
}

.footer__button {
  background: none;
  border: var(--border-style);
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 335px;
  block-size: 51px;
  gap: 8px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 90%;
}